.MovieInfoComponentButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;

    margin-left: 2vw;

}

.MovieInfoComponentButton > img {
    background-color: lightskyblue;
    border-radius: 50%;
}
.MovieInfoComponentButton > img:hover {
    background-color: deepskyblue;

}

.MovieInfoComponentDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-size: 150%;
}

.MovieInfoComponentDiv span {
    display: block;

    color: orangered;
}

.genresSpan {
    display: block;
}

.MovieInfoComponentDivTitleDiv {
    font-size: 250%;
    font-weight: bold;

    margin-bottom: 1vh;
}

.MovieInfoComponentDivDiv {
    display: flex;
    justify-content: space-evenly;
    column-gap: 6vw;

    width: 85%;
}

.MovieInfoComponentDivDivGeneralDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5vh;
}

.MovieInfoComponentDivDivImage {
    width: 28vw;
}

.MovieInfoComponentDivDivGeneralDivDIv {
    display: flex;
}

.genreElem {
    margin-right: 1vw;
}

.MovieInfoComponentDivOverviewDiv {
    width: 75vw;
    margin-top: 2vh;
    margin-bottom: 7vh;
}
